<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="right"><button type="button" class="btn btn-outline-info">CREATE</button>
        <li class="right"><button type="button" class="btn btn-outline-info">LOGOUT</button></li>
      <ul>
    </div>
    <div class="container">
      <h1>Welcome!</h1>
        <p>This is the Gallery Page</p>
    </div>
  </body>
</html>
