<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="left"><button type="button" class="btn btn-outline-info">LOGO GOES HERE</button>
        <li class="right"><a href="/sessions/new">LOG IN</a></li>
        <li class="right"><a href="/users/new">Join upLIFT</a></li>
      <ul>
    </div>
    <div class="container-fluid">
      <section class="jumbotron">
        <h1 style="text-align:center">Welcome to upLIFT!</h1><br />
        <h3 style="text-align:center"><i>Inspire</i> yourself &nbsp;~ &nbsp;every day</h3><br />
      </section>
    <!-- <nav>
      <ul>
        <li><a href="/sessions/new">Log In</a></li>
        <li>><a href="/sessions/new">Join upLIFT</a></li>
      </ul>
    </nav> -->
  </body>
</html>
