<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <ul class="main-nav">
        <li class="left"><a href="/uplifts"><img src="/images/logo/uplift_logo.png" style="background-color:ghostwhite"></a></li>
        <li class="right"><a href="/sessions/new">LOG IN</a></li>
        <li class="right"><a href="/users/new">JOIN upLIFT</a></li>
      <ul>
    </div>
    <div class="container-fluid">
        <h1 style="margin-left:570px;">Welcome to upLIFT</h1><br /><br />
        <h3 style="margin-left:540px; margin-top: -35px; margin-bottom: 20px;"><i>a digital space where you can...</i></h3>
        <hr>
        <hr>
        <p class="home-tag">Capture the day's uplifting moments</p><br />
        <div class="row row-home">
          <% for(let i = 0; i < homepage_tiles_capture.length; i++) { %>
            <div class="col-sm-3 col-home">
              <img class="img-homepage" src="<%=homepage_tiles_capture[i].img;%>">
            </div>
          <% } %>
        </div>
        <p class="home-tag celebrate">Celebrate the positive</p><br />
        <div class="row row-home">
          <% for(let i = 0; i < homepage_tiles_celebrate.length; i++) { %>
            <div class="col-sm-3 col-home">
              <img class="img-homepage" src="<%=homepage_tiles_celebrate[i].img;%>">
            </div>
          <% } %>
        </div>
        <p class="home-tag inspire">Inspire yourself</p><br />
        <div class="row row-home col-home">
          <% for(let i = 0; i < homepage_tiles_inspire.length; i++) { %>
            <div class="col-sm-3">
              <img class="img-homepage" src="<%=homepage_tiles_inspire[i].img;%>">
            </div>
          <% } %>
        </div>
    </div>
  </body>
</html>

<!-- add arrays into JS <file
assign to variables
array of images
for loop to loop through
put url inside img
w/in a route - keyname assign value

const adventured = [

]

const connected = [

] -->
