<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="left"><button type="button" class="btn btn-outline-info">LOGO GOES HERE</button>
        <li class="right"><a href="/new">CREATE</a></li>
        <li class="right"><a href="/">LOGOUT</a></li>
      <ul>
    </div>
    <div class="container">
      <h1>Welcome!</h1>
        <p>This is the Gallery Page</p>
        <div class="container-uplifts">
          <ul>
            <% for(let i = 0; i < uplifts.length; i++) { %>
              <li>
                <%=uplifts[i].type%><br />
                <img class="img-uplift" src="<%=uplifts[i].img%>"><br />
                <%=uplifts[i].description%>
              </li>
            <% } %>
          </ul>
        </div>
    </div>
  </body>
</html>
