<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="left"><a href="/uplifts"><img src="/images/logo/uplift_logo.png" style="background-color:ghostwhite"></a></li>
        <li class="right"><a href="/uplifts/gallery">GALLERY</a></li>
        <li class="right"><a href="/uplifts">LOGOUT</a></li>
      <ul>
    </div>
    <div class="container-fluid">
      <hr>
      <hr>
      <!-- <section class="jumbotron">
        <h1>upLIFT</h1><br />
        <h3>Create Your upLIFT</h3><br /><br />
      </section> -->
      <div class="container-main">
        <img src="/images/sidebar_images/gratitude.jpg" class="img-fluid">
          <div>
            <h1 class="login-header">Create Your upLIFT</h1><br />
              <div class="uplift-box">
                <form action="/uplifts/gallery" method="POST">
                  <div class="dropdown">
                      <select name="type" id="typeDropDown">
                        <option value="empty">Today, I...</option>
                        <option value="adventured">Adventured</option>
                        <option value="celebrated">Celebrated</option>
                        <option value="connected">Connected</option>
                        <option value="created">Created</option>
                        <!-- <option value="enjoyed">Enjoyed</option> -->
                        <option value="gave">Gave</option>
                        <option value="honored">Honored</option>
                        <!-- <option value="laughed">Laughed</option> -->
                        <option value="marveled">Marveled</option>
                        <option value="played">Played</option>
                        <option value="received">Received</option>
                        <!-- <option value="shared">Shared</option> -->
                        <option value="stretched">Stretched</option>
                      </select><br /><br />
                  </div>
                  <!-- <div class="login"> -->
                    <!-- <form class="login" action="/users" method="POST"> -->
                    <div>
                      <label class="create" name="description">Expand</label>
                      <input class="textbox" type="textarea" name="description" /><br /><br />
                    </div>
                      <input type="submit" value="Create upLIFT" class="btn-login">
                    </form>
                  <!-- </div> -->
              </div>
          </div>
      </div>
      <!-- <h4>Today, I...</h4> -->
      <!-- Today, I... -->
        <!-- <div class="main"> -->
          <!-- <form action="/uplifts/gallery" method="POST">
            <div class="dropdown">
              <p style="font-size:26px;">Today, I...<br />
                <select name="typeName" id="typeDropDown">
                  <option value="empty">Today, I...</option>
                  <option value="adventured">Adventured</option>
                  <option value="celebrated">Celebrated</option>
                  <option value="connected">Connected</option>
                  <option value="created">Created</option>
                  <option value="enjoyed">Enjoyed</option>
                  <option value="gave">Gave</option>
                  <option value="honored">Honored</option>
                  <option value="laughed">Laughed</option>
                  <option value="marveled">Marveled</option>
                  <option value="played">Played</option>
                  <option value="received">Received</option>
                  <option value="shared">Shared</option>
                  <option value="stretched">Stretched</option>
                </select><br />
            </div>
          </form> -->
        </div>
    </div>
  </body>
</html>
