<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>upLIFT</h1>
    <h2>Capture this Moment</h2>
    <form action="/uplifter" method="POST">
      Create your upLIFT: <input type="text" name=""/><br /><br />
      Expand: <input type="textarea" name="expand" /><br /><br />
      Select an image: <input type="image" name="image" /><br /><br />
      <!-- submit button -->
      <input type="submit" value="Create upLIFT"/>
    </form>
  </body>
</html>
