<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="left"><button type="button" class="btn btn-outline-info">LOGO GOES HERE</button>
        <li class="right"><a href="/uplifts/">GALLERY</a></li>
        <li class="right"><a href="/">LOGOUT</a></li>
      <ul>
    </div>
    <div class="container">
      <h1>upLIFT</h1>
        <h2>Create your upLIFT</h2>
          <form action="/uplifts" method="POST">
            Today I...
              <select name="typeName" id="typeDropDown"/>
                <option value="adventured">Adventured</option>
                <option value="celebrated">Celebrated</option>
                <option value="connected">Connected</option>
                <option value="created">Created</option>
                <option value="enjoyed">Enjoyed</option>
                <option value="gave">Gave</option>
                <option value="honored">Honored</option>
                <option value="laughed">Laughed</option>
                <option value="marveled">Marveled</option>
                <option value="played">Played</option>
                <option value="received">Received</option>
                <option value="shared">Shared</option>
                <option value="stretched">Stretched</option>
              </select><br /><br />
            Expand: <input type="textarea" name="description" /><br /><br />
            <!-- Select an image: <input type="image" name="image" /><br /><br /> -->
          <!-- submit button -->
          <!-- <form action="/gallery" method="POST"> -->
            <input type="submit" value="Create &nbsp;upLIFT" class="btn btn-outline-info"/>
          </form>
          <!-- <form action="/session?_method=DELETE" method="POST">
            <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
          </form> -->
            <!-- <button type="button" class="btn btn-outline-info">
            <input type="submit" value="Create upLIFT"/>
          </form> -->
    </div>
  </body>
</html>
