<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="left"><button type="button" class="btn btn-outline-info">LOGO GOES HERE</button>
        <li class="right"><a href="/uplifts">GALLERY</a></li>
        <li class="right"><a href="/">LOGOUT</a></li>
      <ul>
    </div>
    <div class="container-fluid">
      <section class="jumbotron">
        <h1>upLIFT</h1><br />
        <h3>upLIFT Show Page</h3><br /><br />
        <div class="main">
          <!-- Today, I <%#=uplifts.type; %><br />
          <img src="<%#uplifts.img%>"><br /> -->
        </div>
      </section>
    </div>
  </body>
</html>
