<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="left"><button type="button" class="btn btn-outline-info">LOGO GOES HERE</button>
        <li class="right"><a href="/uplifts">GALLERY</a></li>
        <li class="right"><a href="/">LOGOUT</a></li>
      <ul>
    </div>
    <div class="container">
      <h1>reLIFT Show Page</h1>
      The <%#=uplifts.type;%> is <%#=uplifts.description;%>
      <!-- <%#=uplift.create%>
      <%#=uplift.image%>
      <%#=uplift.expand%> -->
    <!-- <nav>
      <a href="/fruits">Back to Fruits Index</a>
    </nav> -->
  </body>
</html>
