body {
  background-color: ghostwhite;
}

.container {
  width: 800px;
  margin: auto;
  margin-top: 30px;
  /* text-align: center; */
}

.container-uplifts {
  align-content: space-around;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 4px 40px 40px 42px;
  margin: 0 auto;
}

img {
  height: 300px;
  width: 400px;
}

.img-uplift {
  align-self: center;
}

/* main nav class li right items need to float right in the navbar */
.main-nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 30px;
  padding: 0px;
}

.right {
  font-size: 20px;
  margin: 6px 15px;
}

/* to float navbar logo to the left */
.left {
  margin-left: 30px;
  margin-right: auto;
}
